.messenger {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.messenger-top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.messenger-top > form {
    flex: 1;
    display: flex;
}

.messenger-top > form > .messenger-input {
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}


.messenger-top > form > .messenger-fileSelector {
    width: 20%;
}

.messenger-top > form > button {
    display: none;
}

.messenger-bottom {
    display: flex;
    justify-content: space-evenly;
}

.messenger-bottom > .messenger-option {
    padding: 10px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.messenger-bottom > .messenger-option > h3 {
    font-size: medium;
    margin-left: 10px;
}

.messenger-bottom > .messenger-option:hover {
    background-color: #eff2f5;
    border-radius: 20px;
    cursor: pointer;
}
